.container {
}

.userdata {
  display: flex;
  flex-direction: row;
}

.avatar {
  padding: 8px;
  height: 100px;
  width: 100px;
}

.info {
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn{
    border-style: none;
    color:white;
    background-color: rgb(34, 38, 44);
    border-radius: 8px;
}
.btn:hover{
 background-color: rgb(141, 148, 157);
}

.search {
  border-style: none;
  display: flex;
  align-items: center;
  min-height: 28px;
  border-radius: 8px;
  background-color: black;
  border-color: 1px solid rgb(32, 35, 41);
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
  width: 200px;
  margin: 10px 0;
}
