.container {
  border-top: 1px solid rgb(32, 35, 41);
  margin: 5px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr;
  height: 36px;
}

.stats {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
